:root {
  --main-color: #41e1ba;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--main-color);
  transition: background-color 300ms ease-in-out;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.working {
  background-color: #ef5d50;
}

.hidden {
  display: none;
}

.pomodoro {
  background-color: #fff;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10 rgba(0,0,0,0.5);
}

.pomodoro h2 {
  font-size: 24px;
  text-align: center;
}

.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro .controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pomodoro button {
  background: var(--main-color);
  border: none;
  cursor: pointer;
  color: #000;
  padding: 10px 25px;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
}

.working .pomodoro button {
  background: #ef5d50;
  color: #fff;
}

.pomodoro .details {
  margin: 20px 0;
}
.pomodoro .languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.pomodoro .languages .buttons {
  font-size: 25px;
  font-weight: bold;
}
.pomodoro .languages .buttons .green {
  background: rgb(73, 245, 73);
}
.pomodoro .languages .buttons .red {
  background: rgb(170, 21, 21);
  color: #fff;
}